@use '../abstracts/variables' as *;

.modal-dialog {
    border: none;
    padding: 0;
    background: transparent;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;

    &::backdrop {
        background-color: $color-white-soft;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 24px;
    }

    &__mobile-logo {
        display: none;
        width: 100%;
        max-width: 1050px;
        margin-bottom: 16px;

        img {
            height: 32px;
        }
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        &__mobile-logo {
            display: block;
        }
    }
}