// Brand Colors
$primary-purple: rgba(53, 39, 58, 1);
$primary-orange: rgba(255, 183, 112, 1);
$secondary-orange: rgba(255, 207, 161, 1);
$heading-orange: rgba(238, 146, 54, 1);
$percent-orange: rgba(215, 148, 81, 1);

// Accent & State Colors
$orange-light: rgba(254, 233, 212, 1);
$orange-translucent: rgba(255, 183, 112, 0.3);

// Background Colors
$bg-main: $primary-purple;
$bg-card: rgba(250, 245, 254, 1);
$bg-chart: rgba(237, 237, 237, 1);
$bg-card-hover: rgba(244, 233, 251, 1);
$bg-card-dark: rgba(217, 217, 217, 0.08);
$bg-card-dark-hover: rgba(217, 217, 217, 0.16);

// Text & Basic Colors
$text-light: rgba(255, 255, 255, 1);
$text-dark: rgba(34, 18, 39, 1);

$radius-button: 10px;
$radius-filter: 20px;